<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bankura.pharmacy.pharmacyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ad3c84b42ca65e70579dd6c510f36d238283871a" />

        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.EditUserActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.OrderListActivity"
            android:label="@string/title_order_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OrderDetailActivity"
            android:label="@string/title_order_detail"
            android:parentActivityName=".activities.OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bankura.pharmacy.pharmacyapp.activities.OrderListActivity" />
        </activity>
        <activity
            android:name=".activities.NewOrderActivity"
            android:label="@string/title_activity_new_order"
            android:parentActivityName=".activities.OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bankura.pharmacy.pharmacyapp.activities.OrderListActivity" />
        </activity>
    </application>

</manifest>